<form method="post" action="/comment/new/<%= @post.id %>" >
  <textarea name="content" id="comment_area" cols="60" rows="6" placeholder="Brag here"></textarea>
  <input type="submit" value="Create Comment">
</form>
