<div class="container">
  <h1>HNCLONE</h1>
  <a href="/new_post">Create post</a>

  <% @posts.each do |post| %>
    <% @post = post %>
    <% @user = User.find(@post.user_id) %>
    <%= erb :_display_post %>
  <% end %>


</div>
